<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime '%b %d. %Y' %></small>
<p><%= @post.body %></p>
<%= link_to 'Edit Post', edit_post_path %> | <%= link_to('Delete', @post, :method => :delete, :confirm => 'Are you sure you want to delete ?') %>
<p>Category: <%= @post.category.name %></p>
<p><%= link_to 'Back', posts_path %> </p>
